* {
    margin: 0;
    padding: 0;
}

body {
    
    font-family: 'Montserrat', sans-serif;
    nav{
        width: 100%;
        padding: 1.1em;
        background-color: black;
        display: flex;
        justify-content: center;
        header{
            width: 70%;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    display: inline-block;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        .graph-holder{
            width: 70%;
            height: 850px;
            border: 2px solid black;
            position: relative;
        }
    }
}

.graph{
    width: 30px;
    background-color: teal;
    margin-left: 30px;
    display: inline-block;
    transform: translateY(340px);
}
